header {
  margin:0;
  padding:0;
}

.logoname {
  font-family: "Lobster";
  color: #ad522e;
  float: right;
  font-size: 5.4em;
  padding-right: 1em;
  margin: 0;
}
/* screen sizes 600px and below) */
@media only screen and (max-width: 840px) {
  .logoname {
    font-size: 10vw;
    text-align: center;
    padding-right: 0;
   
  }
  
}

.logopic {
  width: 8em;
  
}
/* screen sizes 780px and below) */
@media only screen and (max-width: 780px) {
  .logopic {
    display:none
   
  }
}
.logo-container {
  display: flex;
  align-items: center;
  margin:0;
}
.logo-item.left {
  text-align: left;
 padding-top: 2em;
  padding-left:2em;
  width: 50%;
}
.logo-item.right {
  text-align: right;
  width:500%;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  display: inline;
}
/* screen sizes 400px and below) */
@media only screen and (max-width: 400px) {
li.navspace {
      display: block;
      text-align: left;
    
}
}
/* screen sizes 400px and below) */
@media only screen and (max-width: 400px) {
nav ul{
    
      text-align: left;
      padding:0;
    
}
}

nav a {
  text-decoration: none;
  color: white;

}

nav a:hover {
  color: #a9cdd6;
}
/*home page css*/

.introhome {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-family: "Lobster";
  font-size: 3em;
  padding-bottom: 1.5em;
}
/* screen sizes 600px and below) */
@media only screen and (max-width: 600px) {
.introhome {
  font-size: 1.5em;
      
}
}

.homepic {
  background-image: url(petimages/krista-mangulsone-9gz3wfHr65U-unsplash.jpg);
  background-attachment: fixed;
  padding-top: 8em;
  padding-bottom: 8em;
  background-repeat: no-repeat;
}
/* screen sizes 600px and below) ***NEED TO FIGURE OUT HOW TO MAKE IMAGE FIT PROPERLY */
@media only screen and (max-width: 600px) {
.homepic {
  

      
    
}
}
.homepic h2 {
  color: white;
  padding: 3em;
  font-family: "Open Sans", sans-serif;
}

.menu {
  list-style-type: none;
  text-align: center;
  background-color: #335d67;
  font-size: 2em;
  font-weight: bold;
  padding: 0.13em;
  text-align: left;
}
/* screen sizes 600px and below) */
@media only screen and (max-width: 800px) {
  .menu {
    font-size: 0.75em;
   
  }
}
ul .navspace {
  padding-left: 20px;
}
.alignment {
  text-align: center;
}

.button {
  color: white;
  background-color: #335d67;
  padding: 15px 300px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 2em;
  transition: all 2s ease-in-out; 
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; 

}

.button a {
  text-decoration: none;
  color: white;
}
/* screen sizes 600px and below) */
@media only screen and (max-width: 600px) {
  .button {
    padding: 20px 40px;
    font-size: 1em;
  }
  
}
/* screen sizes 1000px and below) */
@media only screen and (max-width: 1000px) {
  .button {
    padding: 20px 80px;
    font-size: 1.5em;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flex-container {
    display: flex;
  }
}

  .flex-item {
    flex-grow: 1;
  }



button:hover {
  background-color:#ad522e;
  color: white; 
  animation-name: example;
  animation-duration: 4s;
}
  

.words-heading {
  font-weight: bold;
  padding-top: 2em;
  font-size: 2em;
  font-family: "Lobster";
  color: #335d67;
  font-size: 2.5rem;
}
.testimonials-wrapper1 p, .testimonials-wrapper2 p {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.testemonials {
  padding-left: 4em;
  padding-right: 4em;
  font-size: 1.5em;
  background-color: #ad522e;
  color: white;
}

@media only screen and (min-width: 1000px) {
  .testimonials-wrapper1, .testimonials-wrapper2 {
    display: flex;
  }
  .testimonials-wrapper1 p, .testimonials-wrapper2 p {
    border: 12px double #335d67;
    margin: 20px;
    flex: 1 1 0;
    padding: 20px;
  }

}

/*services page*/
.services-header {
  padding: 1em;
  font-family: "Lobster";
  font-size: 3em;
}
.call-btn {
  background-color: #ad522e;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  position: fixed;
  right: 0em;
  top: 10em;
  writing-mode: vertical-rl;
  border-radius: 0.5em 0 0 0.5em;
}
main {
  padding-top: 2em;
  background-color: #a9cdd6;
  margin: auto;
}
.card {
  width: 300px;
  border: solid 3px;
  padding: 3px;
  margin: 10px;
  background-color: hsla(17, 58%, 43%, 0.9);
  flex-grow: 1;
  padding-top: 30px;
}
.card-dog-item1 {
  justify-content: space-between;
}

.serviceimg {
  width: 300px;
}
.h3text {
  font-style: bold;
  font-size: 2em;
}
.medtext {
  padding-top: 2em;
}

.flex-items {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 13em;
  padding-left: 13em;
 
}

.label {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}
.pricing-contact {
  text-align: center;
  color: #223d44;
  font-size: 3em;
  font-family:"Lobster";
  margin-bottom: 2em;
  margin-top: 2em;}
  
  .list-spacing {
    padding-bottom:1.5em;
  }
  .pricinglist {
    font-size: 1.5em;
  }

.flex-pricing {
  display: flex;
  margin-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
  font-size: 1.25em;
}
.flex-pricing dd {
  text-align: center;
  margin: 0;
}

.flex-container {
  display: flex;
  margin: auto;
  padding: 2em;
}

/* ===============
   FORM CSS
   ----------

   BUTTONS
   =============== */

input[type="reset"] {
  color: #335d67;
  padding: 12px 20px;
  border: 1px solid #335d67;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  background-color: #335d67;
  color: white;
  padding: 12px 20px;
  border: 1px solid #335d67;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #335d67;
}

/* ===============
   STRUCTURE
   =============== */

.wrapper-form {
  border-radius: 5px;
  background-color: #d2b48c;
  padding: 20px;
  padding-right: 3em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
   FORM CONTROLS
   =============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 1rem;
  color: red;
}


.info-bg {
  background-image: url("petimages/helena-lopes-S3TPJCOIRoo-unsplash.jpg");
}

.moreinfo {
  background-image: url("petimages/helena-lopes-S3TPJCOIRoo-unsplash.png");
  background-attachment: fixed;
  color: white;
  margin: auto;
  padding: 5em;
}
.moreinfo h3 {
  text-align: center;
  font-size: 2em;
}

.moreinfo p {
  padding: 2em;
  font-size: 1.5em;
}
h1 {
  font-size: 2em;
  text-align: center;
  color: #223d44;
}

/* about page */
.about-heading {
  padding: 1em;
  font-size: 3em;
  font-family: "Lobster";
}
.me {
  width: 400px;
}
.me-container {
  display: flex;
  background-color: #ad522e;
  padding: 1em;
}
.me-pic {
  display: flex;
  padding-left: 5em;
  padding-right: 1em;
}
.me-para {
  padding: 2em;
  padding-left: 2em;
  padding-right: 5em;
  font-size: 1.2em;
  color: white;
}
.faq-title {
  text-align: center;
  font-size: 3em;
  padding-top:1em;
  color: #223d44;
  font-family: "Lobster";
}

.faqs {
  padding-left: 13em;
  padding-right: 13em;
  padding-top: 1.5em;
  padding-bottom: 3em;
  color: black;
}
 .space {
   padding-top: 3em;
 }

/*caring for your pet page*/

.caring-header {
  font-family: "Lobster";
  font-size: 3em;
  color: #223d44;
  padding: 1em;
}
.ntimportance {
  padding: 2em;
  padding-left: 8em;
  padding-right: 8em;
}
.video {
  padding-left: 15em;
  padding-right: 10em;
}
.helpful-articles {
  text-align: center;
  font-size: 1.5em;
}

.article-links {
  color: #335d67;
  padding-left: 10em;
  padding-right: 10em;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 3em;
}

footer {
  color: aliceblue;
  background-color: #335d67;
  padding: 0.125em;
  font-size: 20px;
  padding: 3em;
}
.map {
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 200px;
}

@media only screen and (min-width: 735px) {
  .map {
    height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  footer {
    display: flex;
  }
  .wrapper {
    flex: 3 0 0;
  }
  .map {
    flex: 2 0 0;
    margin-left: 30px;
  }
}
