.logoname {
  font-family: 'Lobster';
  color: #ad522e;
  float: right; 
  font-size: 4.5em;
  padding-right: 2em;
  
}

.logopic {
  width: 8em;
  padding-left:10em;
  padding-top: 1em;
}



li {
  display: inline;

}
a {
  text-decoration: none;
  color: white;
  text-align: center;
  
}

nav a:hover {
  color:hsla(17, 58%, 43%, 0.9)
}
/*home page css*/ 
.introhome {
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.homepic {
width: 900px;

}

.menu {
  list-style-type: none;
  text-align: center;
  background-color: #335d67;
  font-size: 30px;
  padding: 0.13em;
 
  

}

.button {
color: white;
background: #335d67;
  padding: 15px 300px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16pt;
}
 




/*services page*/

.card {
  width: 300px;
  border: solid 2px; 
  padding: 3px;
  justify-content: space-between;
  margin: 10px;
  background-color: hsla(17, 58%, 43%, 0.9);
}
.card-dog-item1 {
  justify-content: space-between;
 
}


.serviceimg {
  width: 300px;
  
  

}


.flex-items {
   margin:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 10em;
  padding-left: 13em;
  align-items: stretch;
  
  
}

.emailform {
  margin:0px;
  padding: 0;
  
}

.flex-pricing {
  display: flex;
  padding-left: 12em;

}
.flex-form {
  display:flex;
  margin: auto;
 padding-right: 6em;
 flex-direction: column;
 
}
.flexform .pet-name {
display:flex; 
margin:auto;


}
.flexform .pet-type {
  display:flex; 
  margin:auto;
  
  
  
}
.flex-container{
  display: flex;
  margin: auto;
 
  

}
.text1 {
  margin-top: 60px;
}

.moreinfo {
  background-color: #335d67; opacity:0.6;
  color: white;
  padding: 5em;
  margin:0;
}
.alignment {
  Margin: auto; 
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

footer 
{ color: aliceblue;
  background-color: #335d67;
  padding: 0.125em;
  font-size: 20px;
  position: relative;
  z-index: -1;
  padding: 1em;
  align-content: center;
  
}
.map {
  float:right;
  position: absolute;
  top: 0;
  right:0;
  padding: 1em;
  
 

}